$primary: #0d7e74;
$secondary: #30d36e;
$gray: #7f8091;

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  overflow: auto;
  box-sizing: border-box;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  min-height: 99vh;
}

.container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__group {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  width: 100%;
}

.search-form {
  position: relative;
  padding: 7px 0 0;
  margin-top: 10px;
}

.form-control {
  font-family: inherit;
  outline: 1px solid transparent;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  font-size: 1.3rem;
  color: $gray;
  padding: 10px 0;
  background: transparent;
  transition: border-color 0.3s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form-control:focus {
  ~ .form-label {
    position: absolute;
    top: -7px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

.form-control {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.gallery {
  padding: 0px;
}

.photo-card {
  background-color: rgba(255, 255, 255, 0.822);
  border: 2.5px inset transparent;
  border-radius: 2%;
}

.grid-sizer {
  width: 90%;
}

.gutter-sizer {
  width: 2%;
}

.grid-item {
  float: left;
  min-width: 200px;
  margin-bottom: 5px;
  /* clear fix */
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.photo-card-img {
  display: block;
  width: 100%;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}

.stats {
  display: flex;
  justify-content: space-around;
  min-height: 50px;
  padding: 7px 2px 4px 2px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.load-more-btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.load-more-btn {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  background-image: linear-gradient(315deg, $secondary 0%, $primary 74%);
  background-size: 200% 100%;
  background-position: left;
  background-repeat: no-repeat;
  transition: 500ms;
}

.load-more-btn:before {
  content: 'Load More';
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 40px;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  transition: 500ms;
}

.load-more-btn:hover {
  background-position: right;
}

.load-more-btn:hover:before {
  color: rgba(255, 255, 255, 0.8);
}

.load-more-btn:focus {
  outline: none;
}

@media screen and (min-width: 571px) {
  .grid-sizer {
    width: 49%;
  }
  .grid-item {
    max-width: 50%;
  }
}

@media screen and (min-width: 805px) {
  .grid-sizer {
    width: 32%;
  }

  .gutter-sizer {
    width: 1%;
  }

  .grid-item {
    max-width: 32%;
    margin-bottom: 1%;
  }
  .photo-card-img {
    object-fit: cover;
  }
  .stats {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1145px) {
  .grid-sizer,
  .grid-item {
    width: 24%;
  }
}
